<!DOCTYPE html>
<html lang="pt-br" layout:decorate="~{template.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://thymeleaf.org">

<head>
    <title>Cadastro de Empregado</title>
</head>

<body>
<div layout:fragment="conteudo">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2>Cadastro de Empregados</h2>
                <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
                    <button class="btn-close" data-bs-dismiss="alert" type="button"></button>

                    <span th:text="${mensagem}"></span>
                </div>

                <form action="#" method="post" th:action="@{/empregados}" th:object="${empregadoDTO}">

                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label" for="nome">Nome:</label>
                        <div class="col-sm-5">
                            <input class="form-control" id="nome" th:field="*{nome}" type="text"/>
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:errors="*{nome}" th:if="${#fields.hasErrors('nome')}"></span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label" for="email">Email:</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="email" th:field="*{email}" type="text" placeholder="ex: abc@gmail.com">
                        </div>
                        <div class="col-sm-5">
                            <span class="mensagem" th:errors="*{email}"
                                  th:if="${#fields.hasErrors('email')}"></span>
                        </div>
                    </div>
                    <!--adicionando e populando ComboBox departamento-->
                    <div class="form-row">
                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label">Departamento:</label>
                            <div class="col-sm-3">
                                <select class="chosen-select form-control" data-placehold="departamento" id="departamento"
                                        name="departamento" th:field="*{departamento}">
                                    <option th:each="departamento : ${departamentos}"
                                            th:text="${departamento.nome}"
                                            th:value="${departamento.id}">
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-5">
								<span class="mensagem" th:errors="*{departamento}"
                                      th:if="${#fields.hasErrors('departamento')}"></span>
                            </div>
                        </div>
                    </div>

                    <!--adicionando e populando ComboBox projeto-->
                    <div class="form-row">
                        <div class="row mb-3">
                            <label class="col-sm-1 col-form-label">Projetos:</label>
                            <div class="col-sm-3">
                                <select class="chosen-select form-control" data-placehold="projetos" id="projetos" multiple="true"
                                        name="projetos" th:field="${empregadoDTO.projetos}">
                                    <option th:each="projeto :${projetos}"
                                            th:text="${projeto.nome}"
                                            th:value="${projeto.id}"/>
                                </select>
                            </div>
                            <div class="col-sm-5">
								<span class="mensagem" th:errors="*{projetos}"
                                      th:if="${#fields.hasErrors('projetos')}"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-1 col-form-label" for="salario">Salário</label>
                        <div class="col-sm-3">
                            <input class="form-control" id="salario" th:field="*{salario}" type="text" placeholder="Informe apenas o número em R$">
                        </div>
                        <div class="col-sm-5">
								<span class="mensagem" th:errors="*{salario}"
                                      th:if="${#fields.hasErrors('salario')}"></span>
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Salvar"/>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>


